<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail">
            <h2>Fortune cookie</h2>
            <h6>Text: {{text}}</h6>
            <h6>Category: {{category}}</h6>
            <h6>Likes: {{likes}}</h6>
            <h6>Dislikes: {{dislikes}}</h6>
            <h6><img src="{{img}}"</h6>
            <h6>Date: {{shareDate}}</h6>
        </div>
    </div>
</div>
